<div role="tabpanel" class="tab-pane fade" id="funcionalidad">
    <div class="page-header">
        <h1 align="center">Conoce DogMate</h1>
    </div>
    <div class="panel-default">
        <div class="panel-heading">Servicio de paseo de perros a domicilio</div>
        <div class="panel-body">

        </div>
    </div>
    <div class="panel-default">
        <div class="panel-heading">Especialistas caninos</div>
        <div class="panel-body">
            
        </div>
    </div>
    <div class="panel-default">
        <div class="panel-heading">Cuidados de tu mascota</div>
        <div class="panel-body">
            
        </div>
    </div>
    <div class="panel-default">
        <div class="panel-heading">Un sano paseo</div>
        <div class="panel-body">
            
        </div>
    </div>
</div>