
<!DOCTYPE html>
<html ng-app="dogmate">
	<head>
		<title><%= Pagina de error %></title>
		<%- include('_partials/header/_header.html') %>
        <div class="nb-error">
            <div class="error-code">404</div>
            <h3 class="font-bold">No pudimos encontrar la pagina que buscas..</h3>
            <div class="error-desc">
                Lo siento, pero la pagina que estas buscando no se encontro o no existe. <br/>
                Intenta refrescar la pagina o da click en el boton atras para ir a la pagina de inicio.
            </div>
        </div>
	</head>
</html>