<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%- include('_partials/header/_header.html') %>
	</head>
	<body>
		<%- include('_partials/access/_navigation.html') %>
		<div class="container">
			<%- include('_partials/access/_register.html') %>
			<%- include('_partials/access/_login.html') %>
			<div class="tab-content">
				<%- include('_partials/access/_inicio.html') %>
				<%- include('_partials/access/_funcionalidad.html') %>
				<%- include('_partials/access/_contacto.html') %>
			</div>
		</div>
	</body>
</html>
